@font-face {
  font-family: 'Oswald', sans-serif;
  font-family: 'Caveat Brush', cursive;
  src: <link href="https://fonts.googleapis.com/css?family=Oswald|Caveat+Brush" rel="stylesheet">
}

img {
  max-width: 200px;
}

.logo-info{
  height: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.logo {
  width: 300px;
  height: 250px;
}

.sub-title {
  margin-left: 40px;
  font-family: 'Caveat Brush', cursive;
  width: 300px;
}

.nav-icons {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.nav-list {
  font-family: 'Oswald', sans-serif;
  display: inline-flex;
  list-style: none;
}

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.image-one-box {
  width: 300px;
}

.image-two-box {
  width: 300px;
}

.image-three-box {
  width: 300px;
}

 .results-box {
  font-family: 'Oswald', sans-serif;
  display: inline-block;
  margin-left: 150px;
}

.button-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  /*margin-top: 5px;
  margin-bottom: 5px;*/

}

li {
  align-self: center;
  display: inline-block;
  padding-left: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 40%;
  list-style: square;
}
